body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  font-family: "Questrial", sans-serif;
}
.overview {
  margin-bottom: 20px;
}
h1 {
  color: #1c0c59;
  font-size: 20px;
  font-weight: 75;
  line-height: 25px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #1c0c59;
  font-size: 15px;
  font-weight: 50;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.app {
  padding: 20px;
  border: 1px solid #f6eb9a;
  border-radius: 10px;
}
.github {
  align-items: center;
  display: block;
  margin: 0 auto;
  justify-content: center;
}
.btn-current {
  display: block;
  margin: 0px auto;
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
  background-color: white;
  font-size: 15px;
}
.card-text {
  font-family: "Vidaloka", serif;
}
.btn,
form-control {
  font-family: "Shrikhand", cursive;
  flex-direction: right;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #4b047a;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
